/.bundle/
/.yardoc
/Gemfile.lock
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/

/spec/dummy/tmp/*
/spec/dummy/log/*
/spec/dummy/db/*

/tmp/

# rspec failure tracking
.rspec_status

*.idea

.ruby-gemset
.ruby-version
